@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
}

/* sources https://unsplash.com/photos/c9OCWLka764 */
body {

  background-image: url('/public/city.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250vh 100vh;

  
}


.auto-complete-list{
  max-height: 160px;
  overflow-y: scroll;
}
.ant-select-auto-complete .ant-select-selector {
  height: 40px;
}
.text1{
  color: red
}
.text2{
  color: green
}